* /*este signo indica que ha cualquier elemeto html*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* modelo de cajas */
}

body {
    min-width: 100vh; /* altura minima del body al 100 % de la ventana */
    border: 2px solid black;
    height: 100vh; /* altura del body al 100% de la ventana */
    /*width: 100vw; /* anchura del body al 100% de la ventana*/

}

/* h1 {
    /* width: 20 vw; esto hace que ocupen el 20 del padre osea que tendrian espacio los h1 para escribirse todos en una misma linea pero como son elementos de bloque no lo permite */
    /* display: inline-block; } esto tranforma el elemento de bloque en elemento de linea */

header {
    height: 14vh;
    background-color: rgb(0, 187, 255);
}

/* selector descendiente*/
header h1 {
    color: white;
    text-align: center;
}

header nav {
    border: 0px solid black;
    text-align: center;
    padding: 10px;
}

header nav a {
    color: yellow;
    display: inline-block; /* esto tranforma el elemento de linea en elemento de bloque */
    margin-right: 20px;
    text-decoration: none; /* esto quita el subrayado del enlace */
    font-size: 20px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}

header nav a:hover {
    /* text-decoration: underline; /* esto muestra el subrayado del enlace al pasar el raton sobre ahi */
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    height: 76vh;
    background-color: lightgrey;
}

footer {
    height: 10vh;
    background-color: gray;
}