*{ /* selector universal, coge todos los elementos del HTML*/
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* una sola columna */
    height: 100vh; /* altura absoluta */
}

header {
    height: 8vh; /* altura absoluta */
    background-color: black;
    display: flex;
    flex-direction: row; /*queremos los hijos en linea*/
    flex-wrap: nowrap;
    justify-content: space-between; /*separa los hijos*/
    align-items: center;
}

header div#menu {
    color: white; /* color del menu*/
    border: 0px solid red;
    /* flex-basis: 5%; este no le podriamos poner para editar el tamaño del icono debido a que este solo se modifica o hacia el ancho (row) o altura (column) */
    font-size: 30px; /* este adjusta el tamaño de forma proporcional (misma altura y ancho), este debe estar definido por la altura del padre con un display flex */
    margin-left: 10px;
}

header div#menu:hover{
    color: rgb(192, 222, 58);
}

header figure {
    border: 0px solid red;
    flex-basis: 15%; /* en este caso, la anchura del Header*/
    height: 100%; /* la altura que tiene el header pero esta a de ser en % */
    display: flex;
    flex: column;
    flex-wrap: nowrap;
    justify-content: center;
}

header figure img{
    height: 100%; /* altura de la imagen */  
} 

header form {
    border: 0px solid red;
    flex-basis: 25%;
    height: 100%;
    display: flex;
    flex-direction: column; /* eje principal en columna */
    justify-content: center; /* alineaccion eje principal (vertical)*/
    align-items: center; /* alineaccion eje secundario (horizontal)*/
}

header form input{
    flex-basis: 50%; /* height (altura) */
    width: 80%;
    border-radius: 20px;
    font-size: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(110, 126, 33);
    background-color: rgb(249, 255, 132);
}

header nav {
    border: 0px solid red;
    flex-basis: 40%; /* permite ajustar el ancho */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around; /* los separa entre el espacio que tiene el padre */
}

header nav a{
    color: white;
    text-decoration: none; /* quita el subrayado de por defecto del enlace */
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav a:hover{ /* contenedor de animaccion de color */
    color: rgb(192, 222, 58);
}

header div#usuario {
    border: 0px solid red;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px; /* permite la separación entre los logos */
    color: rgb(192, 222, 58);
    font-size: 30px; /* tamaño logo*/
}

main {
    flex-basis: 92%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-start; /* Alineación superior para todas las columnas */
    justify-content: start;
    padding: 0px;
    margin: 0px;
}

main nav#informacion{
    border: 0px solid red;
    flex-basis: 100%;
    /* height: 5%; */
    height: auto; /* Altura automática según el contenido, es más seguro que 5% */
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente el contenido */
    order:1;
    gap: 12px; /* permite separa sus hijos */
}

main nav#informacion a{
    /* padding-left: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center; /* Alineación perfecta icono-texto */
    gap: 8px;
    text-decoration: none;
}

main nav#informacion a i.fa-house{
    font-size: 22px;
    color: rgb(186, 212, 71);
    /* padding-left: 5px;
    align-items: center;
    padding-top: 10px; */
}

main nav#informacion a i.fa-greater-than{
    font-size: 7px;
    color: black;
    /* align-items: center;
    padding-top: 20px; */
}

main nav#informacion a span{
    border: 0px solid red;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    /* display: flex;
    flex-direction: row; 
    text-align: center;
    padding-top: 15px; */
}

main figure#imagenes-columna{
    border: 0px solid green;
    flex-basis: 10%;
    order:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    /*se adjusta al contenido que generan sus hijos*/
    align-self: flex-start;
    position: relative; /* asociamos donde queremos que nos aparezca el elemento con el position:absolute; */ 
}

main figure#imagenes-columna img{
    border: 0px solid green;
    width: 50%;
    object-fit: cover;
}

main figure#imagen-principal{
    border: 0px solid red;
    flex-basis: 40%;
    /* Le dice a este elemento: "No te estires. Ocupa solo lo que midan tus hijos". */
    align-self: flex-start;
    display: flex;
    justify-content: start;
    /* Configuración interna */
    position: relative;
    margin: 0%; /* Importante resetear márgenes */
    order:3;
    box-sizing: border-box; /* Para evitar que los px de los bordes sumen tambien anchura/altura*/
}

main figure#imagen-principal #badges{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute; /* Basicamente ignora el espacio que ocupan estos badges, haciendo que se quede este encima de la foto.*/
    /* max-width: 100px; */
    width: 100%;
}

main figure#imagen-principal #badges img{
    border: 0px solid red;
    width: 25%;
}

main figure#imagen-principal #foto{
    border: 0px solid red;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    margin: 0%;
    padding: 0%;
}

main figure#imagen-principal #foto img{
    border: 0px solid red;
    width: 100%;
    object-fit: contain;
}

main article#caracteristicas{
    border: 0px solid blue;
    flex-basis: 50%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    order:4;
} 

main article#caracteristicas h1{
    border: 0px solid red;
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
} 

main article#caracteristicas div#valoraciones span{
    border: 0px solid orange;
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold; /* combierte el texto en negrita */
} 

main article#caracteristicas div#valoraciones span i{
    border: 0px solid greenyellow;
    color: rgb(243, 243, 38);
    font-size: 20px;

} 

/* main article#caracteristicas div#valoraciones span i{
    border: 1px solid orange;
    
}  */

main article#caracteristicas div#precio-rebajado{
    border: 0px solid pink;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-basis: 15%;
    padding-top: 35px;
    padding-bottom: 20px;
} 

main article#caracteristicas div#precio-rebajado span{
    border: 1px solid pink;
    height: 150px;
    display: flex;
    align-items: center;
}

main article#caracteristicas div#precio-rebajado span.dto{
    border: 0px solid pink;
    font-size: 20px;
    display: inline-block;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: red;
    color: white;
}

main article#caracteristicas div#precio-rebajado span.precio-actual{
    border: 0px solid pink;
    height: auto;
    font-size: 60px;
}

main article#caracteristicas div#precio-normal{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
    padding-bottom: 30px;
} 

/* main article#caracteristicas div#precio-normal span{
    border: 1px solid pink;
    
} */

main article#caracteristicas div#precio-normal span.precio{
    border: 0px solid pink;
    width: 17%;
    font-family: 'Gill Sans', sans-serif;
}

main article#caracteristicas div#precio-normal span.precio-antiguo{
    border: 0px solid pink;
    width: 83%;
    font-family: 'Gill Sans', sans-serif;
    text-decoration: line-through; /* permite tachar el texto con una linea */
}

main article#caracteristicas div#precio-normal span.iva{
    width: 100%;
    padding-top: 10px;
}

main article#caracteristicas div.tarjeta-envio{
    border: 0px solid purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 15%; */
    width: 65%;
    background-color: rgb(244, 246, 249);
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 20px;
} 

main article#caracteristicas div.tarjeta-envio div.stock_info{
    border: 0px solid pink;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
} 

main article#caracteristicas div.tarjeta-envio div.stock_info i{
    /* border: 0px solid blue; */
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: white;
    font-size: 12px;
    background-color: rgb(168, 75, 255);
    color: rgb(247, 245, 245);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
} 

main article#caracteristicas div.tarjeta-envio div.stock_info span{
    width: 90%;
    font-family: 'Gill Sans',sans-serif;
    font-size: 14px;
} 

main article#caracteristicas div.tarjeta-envio div.stock_info span strong{
    color: rgb(127, 23, 224);
}

main article#caracteristicas div.tarjeta-envio div.envio_info{
    border: 0px solid pink;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
} 

main article#caracteristicas div.tarjeta-envio div.envio_info i{
    border: 1px solid blue;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: white;
    font-size: 12px;
    background-color: rgb(168, 75, 255);
    color: rgb(247, 245, 245);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
} 

main article#caracteristicas div.tarjeta-envio div.envio_info span{
    /* border: 1px solid red; */
    width: 90%;
    font-family: 'Gill Sans',sans-serif; 
    font-size: 14px;
} 

main article#caracteristicas div.tarjeta-envio div.envio_info span strong{
    color: rgb(127, 23, 224);
}

main article#caracteristicas div.tarjeta-envio div.detalles_envio{
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;
} 

main article#caracteristicas div.tarjeta-envio div.detalles_envio span{
    font-family: 'Gill Sans',sans-serif;   
    font-size: 14px; 
    color: rgb(102, 102, 102);
} 

main article#caracteristicas div.tarjeta-envio div.detalles_envio span#fecha{
    /* border: 1px solid orange; */
    width: 100%;
} 

main article#caracteristicas div.tarjeta-envio div.detalles_envio span#garantia{
    /* border: 1px solid orange; */
    width: 100%;
} 

main article#caracteristicas div.Tarjeta-CyberWeek{
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    flex-basis: 5%;
    width: 65%;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-top: 20px;
    align-items: center;
    padding-left: 30px;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    gap: 60px;
} 

main article#caracteristicas div.Tarjeta-CyberWeek div.CyberWeek span{
   font-family: 'Gill Sans', sans-serif;
   font-size: 15px;
} 

main article#caracteristicas div.Tarjeta-CyberWeek div.CyberWeek strong{
    padding-left: 10px;
} 

main article#caracteristicas div.Tarjeta-CyberWeek nav{
    border: 1px solid orange;
    /* display: block; */
    display: flex;
    width: 25%;
    height: 70%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
} 

main article#caracteristicas div.Tarjeta-CyberWeek nav a{
    border: 0px solid orange;
    text-decoration: none;
    color: black;
    /* font-weight: bolder; */
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
} 

main article#caracteristicas div.zona-compra { 
    display: flex; 
    gap: 10px; 
    margin-top: 20px; 
    align-items: center;
}

main article#caracteristicas div.zona-compra input { 
    width: 60px; 
    height: 50px; 
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

main article#caracteristicas div.zona-compra .btn-comprar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 90%; 
    background-color: #dfff38; 
    color: black; 
    border: none; 
    flex-grow: 0.85; /* tamaño de la caja  */
    font-size: 17px; 
    font-weight: 800; 
    border-radius: 30px; 
    /* text-transform: uppercase;  */
    box-shadow: 0 7px 0 #bfd600; 
    /* cursor: pointer;  */
    font-family: 'Open Sans', sans-serif;
}

main article#caracteristicas div.zona-compra .btn-comprar:active { 
    transform: translateY(4px); 
}

main article#caracteristicas div.links{ 
    display: flex; 
    gap: 20px; 
    margin-top: 30px; 
}

main article#caracteristicas div.links a{ 
    color: #5d34f0; 
    text-decoration: none; 
    font-size: 15px; 
    font-weight: bold; 
}

footer {
    flex-basis: 30%;
    border: 0px solid yellow;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap;  mete todos los hijos en una linea */
    flex-wrap: wrap;  /* mete los hijos en varias filas de forma personalizada */
    /* align-content: flex-start; hace que no se distribuya el espacio vertical entre filas, permite que editemos nosotros ese espacio */

}

footer nav#sociales{
    padding-top: 15px;
    padding-left: 10px;
    /* margin-left: 0px; */
    border: 0px solid red;
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around;  */
    gap: 10px; 
    height: 200px;
}

footer nav#sociales a{
    /* border: 0px solid black; */
    border-radius: 40px;
    background-color: lightgreen;
    padding: 5px;
    display: inline-block;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition: transform 0.2s ease-in-out; /* hace que el efecto del moviemiento que hemos creado sea mas rapido o mas lenta */
}  

footer nav#sociales a i{
    color: white;
    font-size: 20px;
}

footer nav#sociales a:hover{
    transform: translate(0px, -10px); /* crea una animaccion donde desplaza el logo hacia arriba donde establecemos que se translade a otra posicion (X, Y)*/
    /* transform: rotate(360deg);  permite girar el logo 360º */
} 

footer div#subscribete{
    margin-top: 5px;
    border: 0px solid red;
    color: white;
    flex-basis: 83%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    padding: 5px; 
    height: 200px;
}

footer div#subscribete input {
    width: 30%;
    font-size: 20px;
}

footer article {
    border: 0px solid red;
    color: white;
    flex-basis: 33.33%;
    /* align-self: flex-start; hace que no estire la fila y se iguale a otras */
    /* gap: 60px; */
    /* height: 600px;   */
    padding-top: 70px;
}

footer article h3{
    padding-bottom: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 25px;
    margin-left: 20px;
} 

footer article nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 20px;
    /* display: inline-block;
    height: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    border: 0px solid red;
    flex-basis: 100%;
    height: 390px;
}

footer article nav a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    
}

footer article nav a:hover{
    color: rgb(192, 222, 58);
}

footer article nav a i{
    padding-right: 35px;
}